﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skelbimų meniu", "AdvertisementMain", "AdSubsystem", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Grįžti į pagrindinį", "Subsystem", "Declaration")</li>
                    <li>@Html.ActionLink("Peržiūrėti skelbimus", "AdvertisementList", "AdSubsystem")</li>
                    <li>@Html.ActionLink("Įterpti skelbimą", "ChooseAdType", "AdSubsystem")</li>
                    <li>@Html.ActionLink("Peržiūrėti pažymėtus skelbimus", "MarkedAdListWindow", "AdSubsystem")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    @if (Request.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Prisijungęs: " + @Session["userName"], "", "")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Prisijungti", "Login", "Login")</li>
                        <li>@Html.ActionLink("Registruotis", "Registration", "Login")</li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NT valdymo sistema</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
