﻿
@{
    ViewBag.Title = "NT užklausų bei įvertinimų sąrašas";
    Layout = "~/Views/Shared/_Layout-SpValuation.cshtml";

    var reviewsAddresses = ViewBag.reviewsAddress;
    var reviews = ViewBag.reviews;
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Specialistas"))
{
    <h2>@ViewBag.Title</h2>
    <div>
        <h4>NT užklausų bei įvertinimų sąrašas</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Pateikimo data")
                </th>
                <th>
                    @Html.DisplayName("Adresas")
                </th>
                <th>
                    @Html.DisplayName("Būsena")
                </th>
                <th></th>
            </tr>

            @if(reviews != null) { 
                for (var index = 0; index < reviews.Count; index++)
                {
                    <tr>
                        <td>@reviews[index].RequestDate</td>
                        <td>
                            @reviewsAddresses[index]   
                        </td>
                        <td>@reviews[index].Status</td>
                        <td>
                            @if(reviews[index].Status == "Pateiktas") { 
                                @Html.ActionLink("Įvertinti", "SpValuationForm", new { id = reviews[index].ReviewID })
                            }
                            else
                            {
                                @Html.ActionLink("Peržiūrėti", "SpValuationForm", new { id = reviews[index].ReviewID })
                            }
                        </td>
                    </tr>
                }
            }

        </table>
    </div>

    <div>
        @Html.ActionLink("Grįžti atgal", "SpecialistMain")
    </div>

}
else
{
    <h1>Deja, Jums čia negalima!</h1>
}