﻿
@{
    ViewBag.Title = "Pasirinkite veiksmą";
    Layout = "~/Views/Shared/_Layout-SpValuation.cshtml";
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Administratorius"))
{
    <h1 style="text-align:center">@ViewBag.Title</h1>

    <div class="subsystem-group">
        <div class="col-md-offset-4 col-md-8">
            <a href="~/Administrator/UsersList" class="btn btn-default" style="height:100; width:400px; line-height:40px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Peržiūrėti vartotojus</a>
            <br>
            <a href="~/Administrator/UsersList/2" class="btn btn-default" style="height:100; width:400px; line-height:40px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Redaguoti vartotojus</a>
        </div>
    </div>
}
else
{
    <h1>Deja, jums čia negalima</h1>
}