﻿@{
    ViewBag.Title = "Pasirinkite veiksmą";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
}
@{ var userType = Session["userType"];} 
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
<h2 style="text-align:center">@ViewBag.Title</h2>

<div class="subsystem-group">
    <div class="col-md-offset-4 col-md-15">
        <br>  <a href="http://localhost:50593/AdSubsystem/AdvertisementList" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Peržiūrėti skelbimus</a>
        <br>  <a href="http://localhost:50593/AdSubsystem/ChooseAdType" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Įterpti skelbimą</a>
        <br> <a href="http://localhost:50593/AdSubsystem/MarkedAdListWindow" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Peržiūrėti pažymėtus skelbimus</a>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotiems klientams!</h1>
}