﻿@using NT_Valdymo_Sistema.Models;
@model Tuple<Advertisement,House>
@{
    ViewBag.Title = "Pridėti skelbimą";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
    Dictionary<string, int> dictionary = new Dictionary<string, int>();

    dictionary.Add("Taip", 1);
    dictionary.Add("Ne", 2);
        }
        @{ var userType = Session["userType"];}
        @if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
        {
            <h2>Įterpti skelbimą</h2>

            using (Html.BeginForm("Advertisement","AdSubsystem", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Namo,sodybos,sodo namo duomenys</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.Municipality, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.Municipality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.Municipality, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.Settlement, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.Settlement, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.Settlement, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.Microdistrict, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.Microdistrict, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.Microdistrict, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.HouseNr, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.HouseNr, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.HouseNr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.HouseArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.HouseArea, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.HouseArea, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.RoomNr, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.RoomNr, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.RoomNr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.PlotArea, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.PlotArea, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.PlotArea, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.FloorNr, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.FloorNr, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.FloorNr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.YearBuilt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.YearBuilt, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.YearBuilt, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.BuildingType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.BuildingType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.BuildingType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.HouseEquipment, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.HouseEquipment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.HouseEquipment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.HeatingType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.HeatingType, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.HeatingType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item2.AdditonalInfo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item2.AdditonalInfo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item2.AdditonalInfo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item1.PhoneNr, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item1.PhoneNr, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item1.PhoneNr, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item1.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(tuple => tuple.Item1.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(tuple => tuple.Item1.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item1.Rent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                             @Html.DropDownListFor(tuple => tuple.Item1.Rent, new SelectList(dictionary, "Value", "Key"), "Pasirinkite", new { htmlAttributes = new { @class = "form-control" }  })
                             @Html.ValidationMessageFor(tuple => tuple.Item1.Rent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(tuple => tuple.Item1.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="image" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Pridėti skelbimą!" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Atgal", "ChooseAdType")
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
            <h1> Skirta tik registruotiems klientams!</h1>
        }
