﻿@model IEnumerable<NT_Valdymo_Sistema.Models.Advertisement>
@{ var userType = Session["userType"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{

{
    ViewBag.Title = "Skelbimai";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";

}

<h2>Skelbimų sąrašas</h2>

<table class="table">
    <tr>
        <th>
            Skelbimo sukūrimo data
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </th>
        <th>
            Skelbimo atnaujinimo data
        </th>
        <th>
            Miestas
        </th>
        <th>
            Gatvė
        </th>
        <th>
            Skelbimo tipas
        </th>
        <th>
            Skelbimą įdėjo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string x = item.Rent == 1 ? "Nuomojamas" : "Parduodamas";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditingDate)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.House.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.House.Street)
            </td>
            <td>@x
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
               @if (item.ImagePath != null)
               { <img src="@Url.Content(item.ImagePath)" width="150" height="150" />}
            </td>
            <td>
                @Html.ActionLink("Atidaryti skelbimą", "Details", new { id = item.AdvertisementID })
             
            </td>
        </tr>
    }

</table>
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotiems klientams!</h1>
}
