﻿@model NT_Valdymo_Sistema.Models.Advertisement

@{
    ViewBag.Title = "Pašalinimo patvirtinimas";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
    String path = Model.ImagePath == null ? "" : Model.ImagePath;
}
@{ var userType = Session["userType"];
    var userID = Session["userId"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas") && (int)Model.UserID == (int)userID)
{

<h3>Ar tikrai norite pašalinti šį skelbimą?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(path)" width="250" height="250" />
        </dd>
        <dt>
            Skelbimo sukūrimo data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNr)
        </dd>

        <dt>
           Paskutinio atnaujinimo data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditingDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.House.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.HouseNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseNr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Šalinti" class="btn btn-default" /> 
            @Html.ActionLink("Atšaukti", "AdvertisementList") |
            @Html.ActionLink("Atgal į sąrašą", "AdvertisementList")
        </div>
    }

  
</div>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotiems klientams arba tai ne tavo skelbimas!</h1>
    }
