﻿@model NT_Valdymo_Sistema.Models.MarkedAdvertisements

@{
    ViewBag.Title = "Pašalinti pažymėtą?";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
}

@{ var userType = Session["userType"];
    var userID = Session["userId"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas") && (int)Model.UserID == (int)userID)
{
<h3>Ar tikrai norite pašalinti šį pažymėtą skelbimą?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Kada pažymėtas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhenMarked)
        </dd>

        <dt>
          Telefono numeris
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advertisement.PhoneNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Advertisement.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advertisement.Price)
        </dd>
        <dt>
            Skelbimą įdėjo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Šalinti" class="btn btn-default" />
            @Html.ActionLink("Atšaukti", "MarkedAdListWindow")|
            @Html.ActionLink("Atgal į sąrašą", "MarkedAdListWindow")
        </div>
    }
</div>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
<h1> Skirta tik registruotiems klientams arba tai ne tavo skelbimas!</h1>
    }

