﻿@model IEnumerable<NT_Valdymo_Sistema.Models.MarkedAdvertisements>

@{
    ViewBag.Title = "Pažymėtų skelbimų sąrašas";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
}
@{ var userType = Session["userType"];
    }
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
<h2>Pažymėtų skelbimų sąrašas</h2>

<table class="table">
    <tr>
        <th>
            Kada pažymėtas
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.PhoneNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.House.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.House.HouseNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertisement.House.Municipality)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WhenMarked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Advertisement.PhoneNr)
        </td>
        <td>
            @Html.DisplayFor(model => item.Advertisement.Price)
        </td>
        <th>
            @Html.DisplayFor(model => item.Advertisement.House.Street)
        </th>
        <th>
            @Html.DisplayFor(model => item.Advertisement.House.HouseNr)
        </th>
        <th>
            @Html.DisplayFor(model => item.Advertisement.House.Municipality)
        </th>
        <td>
            @Html.ActionLink("Ištrinti pažymėtą iš sąrašo", "DeleteMarkedAd", new { id = item.MarkedAdvertisementsID })
        </td>
    </tr>
}

</table>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
<h1> Skirta tik registruotiems klientams </h1>
    }