﻿@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Buhalteris"))
{
    {
        ViewBag.Title = "Pasirinkite veiksmą";
    }
    <h2 style="text-align:center">@ViewBag.Title</h2>

    <div class="subsystem-group">
        <div class="col-md-offset-4 col-md-15">
            <br> <a href="http://localhost:50593/Report/REViewWindow" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Deklaruoto NT sąrašas</a>
            <br> <a href="http://localhost:50593/Report/REReportWindow" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">NT ataskaitų sudarymas</a>
            <br> <a href="http://localhost:50593/Report/AdViewWindow" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Skelbimų sąrašas</a>
            <br> <a href="http://localhost:50593/Report/AdReportWindow" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Skelbimų ataskaitų sudarymas</a>
        </div>
    </div>
}
else
{
    <h1>Skirta tik registruotam buhalteriui!</h1>
}