﻿@model NT_Valdymo_Sistema.Models.AdReport
@{
    ViewBag.Title = "Filtro nustatymai";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var neededAds = ViewBag.neededAds;
    var neededAddresses = ViewBag.neededAddress;
    var neededHouse = ViewBag.neededHouse;
}

@{ var userType = Session["userType"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Buhalteris"))
{
    <h2>@ViewBag.Title</h2>

    if (ViewBag.Message != null)
    {
        <table class="table">
            <tr>
                <th>
                    Adresas
                </th>
                <th>
                    Kaina
                </th>
                <th>
                    Pastato tipas
                </th>
                <th>
                    Skelbimas įdėtas
                </th>
                <th></th>
            </tr>
            @if (neededAds != null)
            {
                for (var index = 0; index < neededAds.Count; index++)
                {
                    <tr>
                        <td>
                            @neededAddresses[index]
                        </td>
                        <td>
                            @neededAds[index].Price€
                        </td>
                        <td>
                            @neededHouse[index]
                        </td>
                        <td>
                            @neededAds[index].CreationDate
                        </td>
                        <td>
                            @Html.ActionLink("Plačiau", "SpecificAdWindow", new { id = neededAds[index].AdvertisementID })
                        </td>
                    </tr>
                }
            }
        </table>
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <a href="http://localhost:50593/Report/AdFilterWindow" class="btn btn-default" style="background-color:cornflowerblue;">Įrašų filtras</a>
            </div>
        </div>
        <div>
            @Html.ActionLink("Grįžti atgal", "AccountantMainWindow")
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceFrom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceTo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceTo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Filtruoti" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Grįžti atgal", "AccountantMainWindow")
        </div>
    }
}
else
{
    <h1>Skirta tik registruotiems buhalteriams!</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
