﻿@model NT_Valdymo_Sistema.Models.Advertisement
@{
    double m = 0;
    String path = Model.ImagePath == null ? "" : Model.ImagePath;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string x = Model.Rent == 1 ? "Nuomojamo" : "Parduodamo";
    ViewBag.Title = x + " namo skelbimas";
    m = Model.Price > 0 && Model.House.HouseArea > 0 ? (double)(Model.Price / Model.House.HouseArea) : 0;
    int xx = (int)Model.UserID;
}
@{ var userType = Session["userType"]; }

@if (Request.IsAuthenticated && string.Equals(userType, "Buhalteris"))
{
    <h2>@Html.DisplayFor(model => model.House.Street)   @Html.DisplayFor(model => model.House.HouseNr), @Html.DisplayFor(model => model.House.Municipality) </h2>
    <div>


        <hr />
        <dl class="dl-horizontal">

            <dd>
                <b>@Html.DisplayNameFor(model => model.House.Municipality):</b> @Html.DisplayFor(model => model.House.Municipality)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.Microdistrict):</b> @Html.DisplayFor(model => model.House.Microdistrict)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.Street):</b> @Html.DisplayFor(model => model.House.Street)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.HouseNr):</b> @Html.DisplayFor(model => model.House.HouseNr)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.BuildingType):</b> @Html.DisplayFor(model => model.House.BuildingType)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.FloorNr):</b> @Html.DisplayFor(model => model.House.FloorNr)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.HeatingType):</b> @Html.DisplayFor(model => model.House.HeatingType)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.HouseArea):</b> @Html.DisplayFor(model => model.House.HouseArea)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.HouseEquipment):</b> @Html.DisplayFor(model => model.House.HouseEquipment)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.PlotArea):</b> @Html.DisplayFor(model => model.House.PlotArea)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.RoomNr):</b> @Html.DisplayFor(model => model.House.RoomNr)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.Settlement):</b> @Html.DisplayFor(model => model.House.Settlement)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.YearBuilt):</b> @Html.DisplayFor(model => model.House.YearBuilt)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.House.AdditonalInfo):</b> @Html.DisplayFor(model => model.House.AdditonalInfo)
            </dd>
            <dd>
                <b>Skelbimas įdėtas:</b> @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.Price):</b> @Html.DisplayFor(model => model.Price)
            </dd>
            <dd>
                <b>@Html.DisplayNameFor(model => model.PhoneNr):</b> @Html.DisplayFor(model => model.PhoneNr)
            </dd>
            <dd>
                <b>Paskutinį kartą atnaujintas:</b> @Html.DisplayFor(model => model.EditingDate)
            </dd>
            <br />
            <dd>
                <img src="@Url.Content(path)" width="250" height="250" />
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Atgal į sąrašą", "AdViewWindow")
    </p>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotam buhalteriui</h1>
}
