﻿@model NT_Valdymo_Sistema.Models.ClFillingForm

@{
    ViewBag.Title = "NT pateikimas vertinimui";
    Layout = "~/Views/Shared/_Layout-CLValuation.cshtml";

    Dictionary<string, int> RETypesDictionary = new Dictionary<string, int>();
    Dictionary<string, int> declarartionDictionary = new Dictionary<string, int>();

    RETypesDictionary = ViewBag.RETyperDictionary;

    declarartionDictionary = ViewBag.declarartionDictionary;
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
    <h2>@ViewBag.Title</h2>

    if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Pavyko! </strong>@ViewBag.Message
            </div>
            <div>
                @Html.ActionLink("Grįžti atgal", "ClientMain")
            </div>
        }
    }
    else
    {
        using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()


        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Įvyko klaida! </strong>@ViewBag.Message
            </div>
        }
        else
        {
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.selectType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.selectType, new SelectList(RETypesDictionary, "Value", "Key"), "Pasirinkite", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.selectType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.selectDeclaration, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.selectDeclaration, new SelectList(declarartionDictionary, "Value", "Key"), "Pasirinkite", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.selectDeclaration, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sendeMessageToEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.sendeMessageToEmail)
                            @Html.ValidationMessageFor(model => model.sendeMessageToEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Pateikti užklausą" class="btn btn-default" />
                    </div>
                </div>
            </div>
           }

        }

    <div>
        @Html.ActionLink("Grįžti atgal", "ClientMain")
    </div>
    }
}
else
{
    <h1>Skirta tik registruotiems klientams!</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
