﻿@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{

    {
        ViewBag.Title = "DeclarationType";
    }
    <h1 style="text-align:center">Pasirinkite NT tipą</h1>

    <div class="subsystem-group">
        <div class="col-md-offset-4 col-md-8">
            <a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Butas</a>
            <br /><a href="~/Declaration/Declaration" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Namas,sodyba,sodo namas</a>
            <br /><a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Garažas</a>
            <br /><a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Sklypas</a>
        </div>
    </div>
}
else
{
    <h1>Skirta tik registruotiems klientams!</h1>
}